<!-- story.html for WebTales/CYO Adventure CS304 Project -->

{% extends "base.html" %}

{% block main_content %}

<p>Click to <a href="{{url_for('greet')}}">return to the greeting page</a></p>

<h1>Title: {{story.story_title}}</h1><br>
<h4>Author: {{story.author_username}}</h4> <br>
<h4>Synopsis: {{story.synopsis}}</h4><br>

<p> These are the chapters available for this story: </p>

<p>
    <li>
        {% for onlychapter in chapters %}
        <br>
    <li><a href="{{url_for('loadchapter', chapterID=onlychapter.chapter_id)}}">{{onlychapter.chapter_title}}</a></li>
    {% endfor %}
    </li>
</p>

<br>
<br>
<br>
<form action="{{url_for('logout')}}">
    <input class="buttons" type="submit" value="Log Out">
</form>
{% endblock %}