{% extends "base.html" %}

{% block main_content %}
<p>Click to <a href="{{ url_for('index') }}">return to the login page</a>.</p>

<h1>Greetings {{name}}, Welcome to Choose Your Own Adventure! </h1>

<p>This is a storytelling and game-designing platform that connects users.
    You will be able to write and share your story with others.
    You will also be able to create story-games for other members
    to explore. It will have all the features of a social media and
    a user-friendly interface such as the story app Wattpad,
    but hosting playable/interactive stories like the internet-dinosaur
    chooseyourstory.com.
</p>
</nav>
<p>Here you can choose if you want to:</p>
<nav>
    <form id="readform" action="{{url_for('read')}}">
        <button type="submit">READ</button>
    </form>

    <br>

    <form id="logoutform" action="{{url_for('logout')}}">
        <button type="submit">WRITE</button>
    </form>
</nav>


{% endblock %}